/* ======================================== */
/* Сброс стилей CSS */
@import "./normalize.css";

/* Конец сброса стилей CSS */
/* ======================================== */




/* ======================================== */
/* Подключение шрифтов */
/* ======================================== */

/* source-sans-pro-regular - latin_cyrillic */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url('../fonts/source-sans-pro-v14-latin_cyrillic-regular.woff2') format('woff2'), url('../fonts/source-sans-pro-v14-latin_cyrillic-regular.woff') format('woff');
}

/* commissioner-regular - latin_cyrillic */
@font-face {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/commissioner-v1-latin_cyrillic-regular.woff2') format('woff2'), url('../fonts/commissioner-v1-latin_cyrillic-regular.woff') format('woff');
}

/* commissioner-500 - latin_cyrillic */
@font-face {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 500;
    src: local(''), url('../fonts/commissioner-v1-latin_cyrillic-500.woff2') format('woff2'), url('../fonts/commissioner-v1-latin_cyrillic-500.woff') format('woff');
}

/* commissioner-700 - latin_cyrillic */
@font-face {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('../fonts/commissioner-v1-latin_cyrillic-700.woff2') format('woff2'), url('../fonts/commissioner-v1-latin_cyrillic-700.woff') format('woff');
}

/* lato-300 */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local(''), url('../fonts/Lato-Light.woff2') format('woff2'), url('../fonts/Lato-Light.woff') format('woff');
}

/* lato-400 */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/Lato-Regular.woff2') format('woff2'), url('../fonts/Lato-Regular.woff') format('woff');
}

/* lato-600 */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    src: local(''), url('../fonts/Lato-Semibold.woff2') format('woff2'), url('../fonts/Lato-Semibold.woff') format('woff');
}




/* ======================================== */
/* Основные стили */

html {
    box-sizing: border-box;
}
*,
::after,
::before {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
}

a:focus {
	outline: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.small__btn {
	width: 200px;
	height: 45px;
	background-color: #DEC377;
	border-radius: 2px;
	color: #fff;
	border: none;
	outline: none;
	font-family: 'Commissioner', sans-serif;
	font-weight: bold;
	font-size: 13px;
	line-height: 30px;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	cursor: pointer;
	transition: all .3s linear;
}

.small__btn:hover {
	background-color:#d7b65b;
}

.block__title {
	font-family: 'Commissioner', sans-serif;
	font-size: 28px;
	line-height: 40px;
	font-weight: 40;
	letter-spacing: 0.03em;
	color: rgba(0, 0, 0, 0.9);
}

.block__text {
	font-family: Lato;
	font-weight: 300;
	font-size: 15px;
	line-height: 25px;
	color: rgba(0, 0, 0, 0.8);
}

/* Конец основных стилей */
/* ======================================== */

/* ======================================== */
/* Стили header */

.header {
	padding: 15px 0 22px;
}

.header__top {
    display: flex;
    justify-content: space-between;
	align-items: center;
	position: relative;
	margin-bottom: 33px;
}

.header__lang {
    display: flex;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
}

.header__lang span {
    margin-right: 13px;
}

.header__lang select {
    border: none;
    outline: none;
    color: rgba(0, 0, 0, 0.8);
    appearance: none;
    background: url("../img/header/arrow-down.svg") right 8px no-repeat ;
    padding-right: 17px;
    font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 16px;
	cursor: pointer;
}

.header__poorVision {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.header__poorVision button {
	outline: none;
	cursor: pointer;
	border: none;
	background: transparent;
}

.header__contacts {
    display: flex;
    align-items: center;
}

.header__contactNumber {
	margin-right: 15px;
	font-family: 'Commissioner', sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: 0.03em;
    text-decoration: none;
}
.header__contactIcon {
	margin-right: 14px;
}

.header__contactIcon:last-child {
	margin-right: 0;
}

.header__main {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	position: relative;
}

.header__logo img{
	display: block;
}

.header__logo a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Commissioner', sans-serif;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.03em;
	color: rgba(0, 0, 0, 0.75);
}

.header__navLink {
	margin-right: 50px;
	text-transform: uppercase;
	text-decoration: none;	
	color: rgba(0, 0, 0, 0.75);
	position: relative;

}

.header__navLink:last-child {
	margin-right: 0;
}

.header__navLink::after {
	content: "";
	opacity: 0;
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: rgba(0, 0, 0, 0.75);
	transition: all .3s linear;
}

.header__navLink:hover::after {
	opacity: 1;
}

.header__nav button {
	outline: none;
	cursor: pointer;
	border: none;
	background: transparent;
}

.header__nav span {
	display: none;
}

/* Конец стилей header */
/* ======================================== */




/* ======================================== */
/* Начало стилей main */


.main {
	position: relative;
	height: 650px;
}

.main__slider {
	width: 100%;
}

.main__sliderItem {
	position: relative;
}

.main__sliderItem img {
	width: 100%;
	display: block;
	height: 650px;
	object-fit: cover;
	object-position: center center;
}

.main__description {
	position: absolute;
	top: 160px;
	width: 100%;
	z-index: 80;
}

.main__title {
	max-width: 41.7%;
	margin-bottom: 20px;
	font-family: 'Commissioner', sans-serif;
	font-size: 40px;
	font-weight: 400;
	line-height: 50px;
	letter-spacing: 0.01em;
	color: rgba(0, 0, 0, 0.9);
}

.main__subTitle {	
	max-width: 41.7%;
	margin-bottom: 50px;font-weight: 300;
	font-size: 15px;
	line-height: 25px;
	color: rgba(0, 0, 0, 0.8);
}

.main__sliderNavbar {
	position: absolute;
	width: 100%;
	top: 511px;
	left: 0;
	z-index: 200;
}

.main__arrows {
	display: flex;
	justify-content: space-between;
	width: 70px;
	margin-left: 40px;
}

.main__prev, .main__next {
	cursor: pointer;
}

.main__advantages {
	position: relative;
	z-index: 150;
	top: -100px;
	display: flex;
	justify-content: space-between;
}

.main__advantagesItem {
	width: 22.5%;
	height: 285px;
	background-color: #fff;
	margin-right: 30px;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
	padding: 50px 20px 40px;
}

.main__advantagesItem:last-child {
	margin-right: 0;
}

.main__advantagesLogo {
	width: 120px;
	height: 120px;
	border: 3px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	margin: 0 auto 25px;
	display: flex;
	align-items: center;
}

.main__advantagesLogo img {
	display: block;
	width: 70%;
	height: auto;
	margin: 0 auto;
}

.main__text {
	text-align: center;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0.02em;
	color: rgba(0, 0, 0, 0.75);
}


/* Конец стилей main */
/* ======================================== */




/* ======================================== */
/* Начало стилей intro */

.intro {
	padding: 295px 0 100px;
	background-color: #E5E5E5;
}

.intro__wrapper {
	display: flex;
	justify-content: space-between;
	background-color: #fff;
}

.intro__info {
	width: 58.3%;
	padding: 50px 61px 60px 70px;
}

.intro__title {
	margin-bottom: 30px;
}

.intro__text {
	padding-right: calc(130px - 61px);
}

.intro__picture {
	width: 41.6%;
}

.intro__picture img {
	display: block;
	width: 100%;
	height: auto;
}
/* Конец стилей intro */
/* ======================================== */




/* ======================================== */
/* Начало стилей directions */

.direction {
	padding-bottom: 100px;
	background-color: #E5E5E5;
}

.direction__title {
	margin-bottom: 35px;
}

.direction__wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 40px;
}

.direction__item {
	width: 30.83%;
	background-color: #fff;
	margin-right: 30px;
	margin-bottom: 30px;
	padding: 25px 35px 25px 40px;
	display: flex;
	justify-content: space-between;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.direction__item:nth-child(3n+3) {
	margin-right: 0;
}

.direction__item:nth-child(7),
.direction__item:nth-child(8),
.direction__item:nth-child(9) {
	margin-bottom: 0;
}

.direction__description {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 60.64%;
}

.direction__itemTitle {	
	font-family: 'Commissioner', sans-serif;
	font-weight: 400px;
	font-size: 20px;
	line-height: 30px;
	color: rgba(0, 0, 0, 0.9);
	margin-bottom: 20px;
}

.direction__readMore {
	font-weight: 600;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.5);
	text-decoration: none;
}

.direction__logo {
	width: 80px;
	height: 80px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Конец стилей directions */
/* ======================================== */




/* ======================================== */
/* Начало стилей principles */

.principles {
	background-color: #E5E5E5;
	margin-bottom: -110px;
}

.principles__description {
	margin-bottom: 60px;
	display: flex;
	/* justify-content: space-between; */
}

.principles__titles {
	flex: 1 1 31.6%;
	margin-right: 30px;
}

.principles__text {
	flex: 1 1 65.8%;
}

.principles__sliderWrapper {
	position: relative;
}

.principles__slider {
	position: relative;
	width: 100%;
}

.principles__sliderItem  img {
	display: block;
	width: 100%;
	height: auto;
}

.slick-list {
	overflow: hidden;
}

.slick-track {
	display: flex;
	justify-content: space-between;
}

.principles__prev,
.principles__next  {
	cursor: pointer;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.principles__prev {
	left: -40px;
}

.principles__next {
	right: -40px;
}



/* Конец стилей principles */
/* ======================================== */




/* ======================================== */
/* Начало стилей reviews */

.reviews {
	padding: 210px 0 105px 0;
	background-color: #fff;
}

.reviews__title {
	margin-bottom: 35px;
}

.reviews__wrapper {
	display: flex;
	justify-content: space-between;
}

.reviews__item {
	padding: 140px 50px 65px;
}

.reviews__item:first-child {
	margin-right: 30px;background: url("../img/reviews/1.jpg") top center / contain no-repeat;
}

.reviews__item:last-child {
	background: url("../img/reviews/2.jpg") top center / contain no-repeat;
}

.reviews__authorFunction {
	font-size: 15px;
	line-height: 25px;
	color: rgba(0, 0, 0, 0.5);
}

.reviews__authorName {
	font-family: 'Commissioner', sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 40px;
	letter-spacing: 0.01em;
	color: #DEC377;
	margin-bottom: 20px;
}

.reviews__text {
	font-weight: 300;
	font-size: 14px;
	line-height: 25px;
	letter-spacing: 0.01em;
	color: rgba(0, 0, 0, 0.8);
	margin-bottom: 25px;
}

.reviews__readMore {
	font-weight: 600;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.5);
}

.reviews__navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.reviews__navDots {
	display: flex;
	justify-content: space-between;
}

.reviews__navDots a {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.1);
	margin-right: 10px;
}

.reviews__navDots a:last-child {
	margin-right: 0;
}

.reviews__navDots a.active {
	background-color: #DEC377;
}

.reviews__navArrows {
	width: 70px;
	display: flex;
	justify-content: space-between;
}

/* Конец стилей reviews */
/* ======================================== */




/* ======================================== */
/* Начало стилей clients */

.clients {
	padding-bottom: 100px;
}

.clients__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
}

.clients__text {
	margin-right: 100px;
	flex: 1 1 57.26%;
}

.clients__all {
	flex: 1 1 34.18%;
	display: flex;
	justify-content: center;
}

.clients__btn,
.clients__btn:hover {
	background-color: #fff;
	color: #DEC377;
	border: 2px solid #DEC377;
	border-radius: 2px;
}

.clients__logos {
	display: flex;
	justify-content: space-between;
	align-items: center;	
}

.clients__logosItem img {
	display: block;
	width: 100%;
	height: auto;
}

/* Конец стилей clients */
/* ======================================== */




/* ======================================== */
/* Начало стилей addinfo */

.addinfo {
	padding: 80px 0 100px;
	background-color: #E5E5E5;
}

.addinfo__firstRow {
	position: relative;
	display: flex;
	justify-content: space-between;	
	background-color: #E5E5E5;
	margin-bottom: 30px;
}

.addinfo__firstRow img {
	position: absolute;
	top: 0;
	right: 0;
}

.addinfo__item {
	background-color: #fff;
	padding: 40px 50px 55px;
	flex: 1 1 48.7%;
	margin-right: 30px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.addinfo__item:last-child {
	margin-right: 0;
}

.addinfo__title {
	font-family: 'Commissioner', sans-serif;
	font-weight: 400;
	font-size: 26px;
	line-height: 45px;
	color: rgba(0, 0, 0, 0.9);
	margin-bottom: 15px;
}

.addinfo__secondRow {
	display: flex;
	justify-content: space-between;	
	background-color: #fff;
	padding: 35px 50px 45px;
	align-items: center;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.addinfo__secondRow .addinfo__title {
	flex: 1 1 27.3%;
	margin-right: 30px;
}

.addinfo__secondRow .addinfo__text {
	flex: 1 1 61.5%;
}

/* Конец стилей addinfo */
/* ======================================== */




/* ======================================== */
/* Начало стилей pictureLine */
.pictureLine {
	width: 100%;
	height: 180px;
	background: url("../img/picture-bg.jpg") center / cover no-repeat;
}
/* Конец стилей pictureLine */
/* ======================================== */




/* ======================================== */
/* Начало стилей services */

.services {
	padding: 100px 0;
	background-color: #E5E5E5;
}

.services__title {
	margin-bottom: 35px;
}

.services__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #E5E5E5;
	margin-bottom: 50px;
}

.services__item {
	margin: 0 30px 30px 0;
	height: 140px;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.services__item:nth-child(2n+2) {
	margin-right: 0;
}

.services__item:nth-child(1),
.services__item:nth-child(6),
.services__item:nth-child(9) {
	width: 40.17%;
}

.services__item:nth-child(2),
.services__item:nth-child(5),
.services__item:nth-child(10) {
	width: 57.26%;
}

.services__item:nth-child(3),
.services__item:nth-child(4),
.services__item:nth-child(7),
.services__item:nth-child(8) {
	width: 48.71%;
}

.services__rectangle {
	width: 70px;
	height: 100%;
}

.services__item:nth-child(1) .services__rectangle,
.services__item:nth-child(2) .services__rectangle,
.services__item:nth-child(9) .services__rectangle,
.services__item:nth-child(10) .services__rectangle {
	background-color: rgba(222, 195, 119, 0.4);
}

.services__item:nth-child(3) .services__rectangle,
.services__item:nth-child(4) .services__rectangle,
.services__item:nth-child(7) .services__rectangle,
.services__item:nth-child(8) .services__rectangle {
	background-color: rgba(222, 195, 119, 0.75);
}

.services__item:nth-child(5) .services__rectangle,
.services__item:nth-child(6) .services__rectangle {
	background-color: #DEC377;
}

.services__info {
	display: flex;
	flex-wrap: wrap;
	padding: 25px 30px 20px;
}

.services__name {
	width: 100%;
	margin-bottom: 15px;
	font-family: 'Commissioner', sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: rgba(0, 0, 0, 0.9);
}

.service__more {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.services__readMore {
	text-decoration: none;
	font-weight: 600;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.5);
}

.services__description {
	display: flex;
	justify-content: space-between;
	align-items: start;
}

.services__text {
	margin-right: 200px;
}
/* Конец стилей services */
/* ======================================== */




/* ======================================== */
/* Начало стилей benefit */

.benefits {
	padding: 0 0 105px;
}

.benefits__item {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 85px;
}

.benefits__item:first-child {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.benefits__description {
	width: 50%;
}

.benefist__title {
	font-family: 'Commissioner', sans-serif;
	font-weight: 400;
	font-size: 28px;
	line-height: 40px;
	letter-spacing: 0.03em;
	color: rgba(0, 0, 0, 0.9);
	margin-bottom: 30px;
}

.benefits__text {
	margin-right: 164px;
}


.benefits__list {
	width: 50%;
}

.benefits__list li {
	list-style: none; 
    background: url(../img/list-marker.svg) no-repeat 0 center; 
    padding-left: 70px;
	margin-bottom: 35px;
	font-weight: 600;
	font-size: 17px;
	line-height: 30px;
	letter-spacing: 0.01em;
	color: rgba(0, 0, 0, 0.75);
	
}

.benefits__list li:last-child {
	margin-bottom: 59px;
}

/* Конец стилей benefit */
/* ======================================== */




/* ======================================== */
/* Начало стилей advantage */

.advantage {
	padding: 80px 0 100px;
	background-color: #E5E5E5;
}

.advantage__title {
	margin-bottom: 35px;
}

.advantage__wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.advantage__item {
	text-align: center;
	width: 23%;
	margin-right: 30px;
	padding: 50px 20px 40px;
	background-color: #fff;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
	border-radius: 5px;
}

.advantage__item:last-child {
	margin-right: 0;
}

.advantage__picture {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 120px;
	height: 120px;
	border: 3px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	margin: 0 auto 25px;
}

.advantage__description {
	position: relative;
	background-color: #fff;
	padding: 40px 370px 45px 50px;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}

.advantage__description img {
	position: absolute;
	top: 0;
	right: 0;
}

/* Конец стилей advantage */
/* ======================================== */




/* ======================================== */
/* Начало стилей cooperation */

.cooperation {
	padding: 100px 0;
	background-color: #E5E5E5;
}

.cooperation__wrapper {
	display: flex;
	justify-content: space-between;
}

.cooperation__item {
	margin-right: 8.5%;
}

.cooperation__item:first-child {
	width: 42.7%;
}

.cooperation__item:last-child {
	margin-right: 0;
	width: 48.7%;
	background-color: #fff;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
	border-radius: 3px;
}

.cooperation__title {
	margin-bottom: 35px;
}

.cooperation__list {
	margin-bottom: 35px;
}

.cooperation__list li {
	list-style: none; 
    background: url(../img/number1.svg) no-repeat 0 center; 
	padding-left: 100px;
	margin-bottom: 30px;
	font-weight: 400;
	font-size: 15px;
	line-height: 25px;
	color: rgba(0, 0, 0, 0.8);
}

.cooperation__list li:nth-child(2) {
	background: url(../img/number2.svg) no-repeat 0 center;
	margin-bottom: 0;
}

.cooperation__form {
	padding: 40px 50px 50px;
}

.cooperation__formDescription {
	font-family: 'Commissioner', sans-serif;
	font-weight: 500;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 0.01em;
	color: rgba(0, 0, 0, 0.5);
	margin-bottom: 10px;
}

.cooperation__formItem {
	margin-bottom: 20px;
	width: 100%;
	font-weight: 300;
	font-size: 15px;
	line-height: 25px;
	color: rgba(0, 0, 0, 0.5);
	opacity: 0.6;

	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1) ;
	outline: none;
	padding-left: 10px;
}

.cooperation__confirm {
	font-weight: 300;
	font-size: 13px;
	line-height: 20px;
	color: rgba(0, 0, 0, 0.5);
	margin-bottom: 30px;
}

.cooperation__confirm a {
	font-weight: 600;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);;
}

.cooperation__submit {
	width: 100%;
}

/* Конец стилей cooperation */
/* ======================================== */




/* ======================================== */
/* Начало стилей cost */

.cost {
	padding-bottom: 100px;
	background-color: #E5E5E5;
}

.cost__title {
	margin-bottom: 30px;
}

.cost__text {
	width: 57%;
	margin-bottom: 30px;
}

/* Конец стилей cost */
/* ======================================== */




/* ======================================== */
/* Конец стилей footer */

.footer {
	background-color: #E5E5E5;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer__wrapper {
	padding: 49px 0 60px;
	display: flex;
	justify-content: space-between;
}

.footer__mainInfo {
	flex: 1 1 23%;
	margin-right: 2.5%;
}

.footer__title {
	font-family: 'Commissioner', sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: rgba(0, 0, 0, 0.9);
	margin-bottom: 70px;
}

.footer__unp,
.footer__rating {
	font-weight: 300;
	font-size: 13px;
	line-height: 20px;
	color: rgba(0, 0, 0, 0.5);
	margin-bottom: 10px;
}

.footer__rating {
	margin-bottom: 61px;
}

.footer__unp span,
.footer__rating span {
	font-family: 'Commissioner', sans-serif;
	font-weight: 500;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 0.01em;
	color: rgba(0, 0, 0, 0.5);
	margin-right: 15px;
}

.footer__social {
	display: flex;
	justify-content: space-between;
	margin-bottom: 51px;
}

.footer__socialLogo {
	position: relative;
}

.footer__socialLogo a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.footer__siteMap,
.footer__privacyPolicy {
	font-weight: 600;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.75);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 30px;
	position: relative;
}

.footer__privacyPolicy {
	margin-bottom: 0;
}

.footer__siteMap p,
.footer__privacyPolicy p {
	margin-right: 15px;
}

.footer__privacyPolicy p {
	width: 60%;
}

.footer__siteMap a,
.footer__privacyPolicy a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.footer__offices {
	flex: 1 1 54.7%;
	margin-right: 5%;
	padding-top: 35px;
}

.footer__officesTitle {
	margin-bottom: 35px;
	font-weight: 400;
	font-size: 15px;
	line-height: 25px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.footer__officesWrapper {
	display: flex;
	justify-content: space-between;
}

.footer__officesItem {
	flex: 1 1 29.6%;
	margin-right: 35px;
}

.footer__officesItem:last-child {	
	flex: 1 1 64.8%;
	margin-right: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.offices__blockHeader {
	font-family: 'Commissioner', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 25px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.75);
	margin-bottom: 10px;
}

.footer__officesItem:first-child .offices__blockHeader {
	margin-bottom: 20px;
}

.offices__blockInfo {
	font-weight: 300;
	font-size: 13px;
	line-height: 20px;
	color: rgba(0, 0, 0, 0.8);
	margin-bottom: 5px;
}

.footer__officesItem:first-child .offices__blockInfo {
	margin-bottom: 20px;
}

.offices__blockTitle {
	font-family: 'Commissioner', sans-serif;
	font-weight: 500;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 0.01em;
	color: rgba(0, 0, 0, 0.75);
	margin-bottom: 5px;
}

.offices__email {
	font-family: 'Commissioner', sans-serif;
	font-weight: normal;
	font-size: 13px;
	line-height: 20px;
	color: rgba(0, 0, 0, 0.8);
}

.footer__officesDepartment {
	margin-right: 35px;
	margin-bottom: 35px;
	width: 45.7%;
}

.footer__officesDepartment:nth-child(2n+2) {
	margin-right: 0;
}

.footer__workingHours {
	flex: 1 1 14.5%;
	padding-top: 35px;
}

.footer__workingHoursTitle {
	margin-bottom: 35px;
	font-weight: 400;
	font-size: 15px;
	line-height: 25px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.footer__workingHours .offices__blockInfo {
	margin-bottom: 30px;
}

.footer__workingHours .offices__blockInfo:last-child {
	margin-bottom: 0;
}

.footer__bottom {
	width: 100%;
	height: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.1)
}

.footer__developerInfo {
	font-weight: 300;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 0.02em;
	color: rgba(0, 0, 0, 0.8);
}

/* Конец стилей footer */
/* ======================================== */




/* ======================================== */
/* Адаптивные стили */

@media (max-width: 1300px) {

/* отступы стрелок навигации второго слайдера */

	.principles__sliderWrapper {
		margin: 0 40px;
	}

}




@media (max-width: 1200px) {
	
	/* ===== Общие стили ===== */

	.container {
		max-width: 960px;
	}


	
	/* ===== Стили header ===== */

	.header__navLink {
		margin-right: 30px;
	}

	.header__navLink:last-child {
		margin-right: 0;
	}



	/* ===== Стили main ===== */

	.main__sliderItem img {
		object-position: -550px center;
	}

	.main__advantagesItem {
		padding: 30px 20px;
		height: 265px;
	}



	/* ===== Стили intro ===== */

	.intro {
		padding: 275px 0 100px;
	}



	/* ===== Стили services ===== */

	.services {
		padding: 100px 0 90px;
	}

	.services__item {
		margin: 0 20px 20px 0;
	}



	/* ===== Стили benefits ===== */

	.benefits {
		padding-bottom: 50px;
	}

	.benefits__item {
		padding-top: 75px;
	}

	.benefits__text {
		margin-right: 100px;
	}



	/* ===== Стили advantage ====== */

	.advantage {
		padding: 80px 0 50px;
	}

	.advantage__item {
		padding: 30px 20px;
	}



	/* ===== Стили footer ====== */

	.footer__offices {
		margin-right: 2.5%;
	}

	.footer__officesItem {
		margin-right: 20px;
	}
	
	.footer__officesItem:last-child {
		margin-right: 0;
	}
	
	.footer__officesDepartment {
		margin-right: 20px;
		margin-bottom: 25px;
		width: 45.7%;
	}

	.footer__officesDepartment:nth-child(2n+2) {
		margin-right: 0;
	}

}




@media (max-width: 991px) {

	/* ===== Общие стили ===== */

	.container {
		max-width: 720px;
	}



	/* ===== Стили header ===== */

	.header__poorVision {
		left: 30%;
	}

	.header__nav {
		display: none;
	}

	body.lock {
		overflow: hidden;
	}

	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 3;
	}
	
	.header__burger span {
		position: absolute;
		background-color: rgba(0, 0, 0, 0.75);
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all .3s ease 0s;
	}

	.header__burger:before,
	.header__burger:after {
		content: '';
		background-color:  rgba(0, 0, 0, 0.75);
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all .3s ease 0s;
	}

	.header__burger:before {
		top: 0;
	}
	.header__burger:after {
		bottom: 0;
	}

	.header__burger.active:before {
		transform: rotate(45deg);
		top: 9px;
	}

	.header__burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}

	.header__burger.active span {
		transform: scale(0);
	}

	.header__menu {
		position: fixed;
		top: -150%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #E5E5E5;
		padding: 70px 10px 20px 10px;
		transition: all .3s ease 0s;
		z-index: 1000;
	}

	.header__menu.active {
		top: 0;
		align-items: flex-start;
		padding-top: 50px;
	}

	.header__nav {
		display: block;
	}

	.header__navLink {
		display: block;
		font-size: 24px;
		margin: 0 0 40px 40px;
		transition: all .5s;
	}
	
	.header__navLink:hover {
		color:rgba(0, 0, 0, .5);
	}

	.header__navLink:hover::after {
		display: none;
	}

	.header__nav button {
		display: flex;
		width: 100%;
		padding: 0;
		justify-content: flex-start;
		align-items: center;
		margin: 0 0 40px 40px;
		transition: all .5s;
	}

	.header__nav svg {
		width: 24px;
		height: 24px;
		margin-right: 10px;
		fill: rgba(0, 0, 0, 0.75);
		stroke: rgba(0, 0, 0, 0.75);
	}

	.header__nav span {
		display: block;
		font-family: 'Commissioner', sans-serif;
		font-size: 24px;		
		font-weight: 500;
		text-transform: uppercase;
		color: rgba(0, 0, 0, 0.75);
		letter-spacing: 0.03em;
		margin-right: 15px;
	}

	.header__nav button:hover .header__svg {
		fill: rgba(0, 0, 0, 0.5);
		stroke:rgba(0, 0, 0, 0.5);
	}

	.header__nav button:hover span {
		color: rgba(0, 0, 0, 0.5);
	}



	/* ===== Стили main ===== */

	.main__sliderItem img {
		object-position: -750px center;
	}

	.main__advantages {
		top: -90px;
	}

	.main__advantagesItem {
		padding: 15px 10px;
		height: 220px;
		font-size: 13px;
	}

	.main__advantagesLogo {
		margin-bottom: 20px;
		width: 110px;
		height: 110px;
	}



	/* ===== Стили intro ===== */

	.intro {
		padding: 250px 0 100px;
	}

	.intro__picture {
		display: none;
	}

	.intro__info {
		width: 100%;
	}

	.intro__text {
		padding-right: 0;
	}
	


	/* ===== Стили direction ===== */

	.direction__item {
		width: 48%;
		margin-right: 0;
		margin-bottom: 30px;
	}

	.direction__item:nth-child(7),
	.direction__item:nth-child(8) {
		margin-bottom: 30px;
	}

	.direction__item:last-child {
		margin: 0 auto;
	}
		


	/* ===== Стили reviews ===== */

	.reviews__item {
		padding: 100px 20px 60px;
	}



	/* ===== Стили clients ===== */

	.clients {
		padding-bottom: 70px;
	}

	.clients__logosItem {
		width: 100px;
	}

	.clients__logosItem:nth-child(2) {
		width: 80px;
	}



	/* ===== Стили addinfo ===== */

	.addinfo__item {
		padding: 30px 30px 50px;
		margin-right: 20px;
	}

	.addinfo__title {
		line-height: 38px;
	}

	.addinfo__secondRow {
		padding: 30px 45px 40px;
	}



	/* ===== Стили services ===== */
	
	.services__item {
		margin-right: 10px;
	}

	.services__info {
		font-size: 16px;
		padding: 20px 20px 15px;
	}

	.services__name {
		font-size: 18px;
		line-height: 25px;
	}

	.services__text {
		margin-right: 80px;
	}



	/* ===== Стили benefits ===== */
	
	.benefits {
		padding-bottom: 40px;
	}

	.benefits__text {
		margin-right: 50px;
	}

	.benefits__list li:last-child {
		margin-bottom: 49px;
	}

	.benefits__item {
		padding-top: 55px;
	}



	/* ===== Стили advantage ===== */

	.advantage__item {
		padding: 20px 10px;
	}

	.advantage__description {
		padding: 40px 180px 45px 50px;
	}



	/* ===== Стили cooperation ===== */

	.cooperation {
		padding: 80px 0;
	}

	.cooperation__title {
		margin-bottom: 25px;
	}

	.cooperation__list li {
		margin-bottom: 20px;
	
	}

	.cooperation__item:first-child {
		width: 45.7%;
	}

	.cooperation__item {
		margin-right: 5.5%;
	}



	/* ===== Стили cost ===== */

	.cost__text {
		width: 80%;
	}



	/* ===== Стили footer ===== */

	.footer__wrapper {
		flex-wrap: wrap;
	}

	.footer__mainInfo {
		order: 1;
		flex: 1 1 20%;
		margin-right: 7.5%;
	}

	.footer__offices {
		order: 3;
		width: 100%;
		margin-top: 20px;
	}

	.footer__workingHours {
		order: 2;
	}
}




@media (max-width: 767px) {

	/* ===== Общие стили ===== */

	.container {
		max-width: 540px;
	}

	.block__title {
		line-height: 36px;
	}



	/* ===== Стили header ===== */

	.header__lang {
		display: none;
	}

	.header__poorVision {
		display: none;
	}

	.header__contacts {
		margin: 0 auto;
	}

	.header__top {
		margin-bottom: 25px;
	}



	/* ===== Стили main ===== */

	.main__title {
		font-size: 32px;
		line-height: 36px;
	}

	.main__sliderItem img {	
		object-position: -910px center;	
	}

	.main__advantages {
		flex-wrap: wrap;
	}

	.main__advantagesItem {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		height: auto;
		padding: 15px;
		margin: 0;
		margin-bottom: 15px;
		border-radius: 3px;
	}

	.main__advantagesLogo {
		margin: 0 20px 0 0;
		width: 30px;
		height: 30px;
	}




	/* ===== Стили intro ===== */

	.intro {
		padding: 250px 0 80px;
	}

	.intro__info {
		padding: 20px;
	}



	/* ===== Стили direction ===== */

	.direction__item,
	.direction__item:nth-child(7),
	.direction__item:nth-child(8) {
		width: 100%;
		margin: 0 0 15px 0;
		border-radius: 3px;
	}



	/* ===== Стили principles ===== */

	.principles__description {
		display: flex;
		flex-wrap: wrap;
		padding: 20px;
	}

	.principles__titles {
		margin: 0 0 30px 0;
	}

	.principles__sliderWrapper {
		margin: 0;
	}

	.principles__prev,
	.principles__next {
		display: none;
	}

	.slick-dots {
		display: flex;
		justify-content: center;
		margin-top: 10px;
	}

	.slick-dots li {
		margin-right: 10px;
	}

	.slick-dots li:last-child {
		margin-right: 0;
	}

	.slick-dots button {
		font-size: 0;
		border: none;
		background-color: transparent;
	}

	.slick-dots button:before {
		display: block;
		content: "";
		width: 10px;
		height: 10px;
		background-color: rgba(0, 0, 0, .1);
		border-radius: 50%;
	}

	.slick-active button::before {		
		background-color: #DEC377;
	}



	/* ===== Стили reviews ===== */

	.reviews {
		padding: 210px 0 85px 0;
	}

	.reviews__item:first-child {
		margin-right: 0;
	}

	.reviews__item:last-child {
		display: none;
	}



	/* ===== Стили clients ===== */

	.clients__text {
		margin-right: 40px;
	}
	
	.clients__logosItem:nth-child(2) {
		width: 60px;
	}

	.clients__logosItem:nth-child(5) {
		width: 60px;
	}



	/* ===== Стили addinfo ===== */

	.addinfo {
		padding: 80px 0 80px;
	}

	.addinfo__firstRow {
		flex-wrap: wrap;
	}
	
	.addinfo__item {
		margin-right: 0;
		flex: 1 1 100%;
	}

	.addinfo__info:first-child {
		padding: 30px;
	}

	.addinfo__secondRow {
		flex-wrap: wrap;
	}

	.addinfo__secondRow .addinfo__title {
		flex: 1 1 100%;
		margin-right: 0;
	}



	/* ===== Стили pictureLine ===== */

	.pictureLine {
		height: 140px;		
	}



	/* ===== Стили services ===== */

	.services {
		padding: 80px 0 70px;
	}

	.services__wrapper {
		margin-bottom: 30px;
	}

	.services__rectangle {
		width: 40px;
	}

	.services__name {
		font-size: 16px;
		line-height: 22px;
	}

	.services__readMore {
		font-size: 11px;
	}

	.services__description {
		flex-wrap: wrap;
		justify-content: center;
	}

	.services__text {
		order: 2;
		width: 100%;
		padding: 0 40px;
		margin-right: 0;
	}

	.services__all {
		order: 1;
		margin-bottom: 30px;
	}



	/* ===== Стили benefits ===== */

	.benefits {
		padding-bottom: 20px;
	}

	.benefits__item {
		flex-wrap: wrap;
		padding: 50px 20px 0 20px;
	}

	.benefits__description {
		width: 100%;
		margin-bottom: 30px;
	}

	.benefist__title {
		margin-bottom: 20px;
	}

	.benefits__list {
		margin-left: 10px;
		width: 100%;
	}

	.benefits__list li {
		margin-bottom: 22px;
		line-height: 28px;
	}

	.benefits__list li:last-child {
		margin-bottom: 39px;
	}



	/* ===== Стили advantage ===== */

	.advantage {
		padding: 70px 0 50px;
	}

	.advantage__wrapper {
		flex-wrap: wrap;
	}

	.advantage__item {
		width: 100%;
		margin-right: 0;
		margin-bottom: 15px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.advantage__picture {
		margin: 0 15px 0 0;
		width: 100px;
		height: 100px;
	}

	.advantage__picture img {
		display: block;
		width: 60%;
		height: auto;
	}

	.advantage__name {
		width: 70%;
		text-align: left;
	}

	.advantage__description {
		padding: 30px 150px 35px 40px;
	}



	/* ===== Стили cooperation ===== */

	.cooperation {
		padding: 60px 0;
	}

	.cooperation__wrapper {
		flex-wrap: wrap;
	}

	.cooperation__item:first-child,
	.cooperation__item:last-child {
		width: 100%;
	}

	.cooperation__item:first-child {
		margin-bottom: 30px;
		padding: 0 20px;
	}



	/* ===== Стили cost ===== */

	.cost {
		padding-bottom: 70px;
	}
}




@media (max-width: 576px){

	/* ===== Общие стили ===== */

	.container {
		max-width: 100%;
	}

	.block__title {
		line-height: 30px;
		font-size: 24px;
	}

	.block__text {
		font-size: 14px;
		line-height: 23px;
	}



	/* ===== Стили header ===== */

	.header__top {
		margin-bottom: 15px;
	}

	.header__contacts a:nth-child(5),
	.header__contacts a:nth-child(6) {
		display: none;
	}


	/* ===== Стили main ===== */

	.main {
		height: 630px;
	}
	
	.main__sliderItem img {
		height: 300px;
		object-position: -370px center;
	}

	.main__description {
		top: 20px;
	}

	.main__title {
		font-size: 28px;
		line-height: 31px;
		margin-bottom: 15px;
	}

	.main__subTitle {
		line-height: 20px;
		margin-bottom: 15px;
	}

	.main__advantages {
		top: 20px;
	}

	.main__arrows {
		display: none;
	}

	.main__advantagesItem {
		margin-bottom: 20px;
	}

	.main__text {
		line-height: 20px;
		text-align: left;
	}



	/* ===== Стили intro ===== */

	.intro {
		padding: 90px 0 60px;
	}

	.intro__info {
		padding: 15px;
	}

	.intro__title {
		margin-bottom: 20px;
	}



	/* ===== Стили direction ===== */

	.direction {
		padding-bottom: 50px;
	}

	.direction__item {
		padding: 15px 20px 15px 30px;
	}

	.direction__itemTitle {
		font-size: 18px;
		margin-bottom: 15px;
		line-height: 27px;
	}

	.direction__btn	{
		margin: 0 auto;
		display: block;
	}



	/* ===== Стили principles ===== */

	.principles__description {
		margin-bottom: 30px;
	}



	/* ===== Стили reviews ===== */

	.reviews {
		padding: 160px 0 85px 0;
	}

	.reviews__item {
		padding: 80px 20px 30px;
	}

	.reviews__navbar {
		flex-wrap: wrap;
	}

	.reviews__btn {
		order: 2;
		margin: 0 auto;
	}

	.reviews__navDots {
		order: 1;
		width: 100%;
		justify-content: center;
		margin-bottom: 20px;
	}

	.reviews__navArrows {
		display: none;
	}



	/* ===== Стили clients ===== */

	.clients {
		padding-bottom: 40px;
	}

	.clients__wrapper {
		flex-wrap: wrap;
	}

	.clients__text {
		/* text-align: center; */
		margin-right: 0;
		margin-bottom: 20px;
	}

	.clients__logos {
		flex-wrap: wrap;
		justify-content: center;
	}

	.clients__logosItem {
		width: 25%;
		margin-right: 20px;
		margin-bottom: 20px;
	}



	/* ===== Стили addinfo ===== */

	.addinfo {
		padding: 60px 0;
	}

	.addinfo__item {
		padding: 20px;
	}

	.addinfo__title {
		line-height: 32px;
	}

	.addinfo__secondRow {
		padding: 20px 35px 35px;
	}



	/* ===== Стили pictureLine ===== */

	.pictureLine {
		height: 80px;
	}



	/* ===== Стили services ===== */

	.services {
		padding: 60px 0 50px;
	}

	.services__item:nth-child(1n+1) {
		width: 100%;
		margin-right: 0;
		height: 130px;
	}

	.services__item:nth-child(1) .services__rectangle,
	.services__item:nth-child(5) .services__rectangle,
	.services__item:nth-child(6) .services__rectangle,
	.services__item:nth-child(10) .services__rectangle {
		background-color: rgba(222, 195, 119, .4);
	}

	.services__item:nth-child(2) .services__rectangle,
	.services__item:nth-child(4) .services__rectangle,
	.services__item:nth-child(7) .services__rectangle,
	.services__item:nth-child(9) .services__rectangle {
		background-color: rgba(222, 195, 119, .75);
	}

	.services__item:nth-child(3) .services__rectangle,
	.services__item:nth-child(8) .services__rectangle {
		background-color: #DEC377;
	}

	.services__text {
		padding: 0 20px;
	}



	/* ===== Стили benefits ===== */

	.benefits {
		padding: 0;
	}

	.benefits__item {
		padding: 40px 20px 0 20px;
	}

	.benefist__title {
		line-height: 30px;
	}

	.benefits__text {
		margin-right: 0;
	}

	.benefits__list li {
		padding-left: 60px;
		margin-bottom: 20px;
		line-height: 26px;
		font-size: 15px;
	}



	/* ===== Стили advantage ===== */

	.advantage__picture {
		width: 70px;
		height: 70px;
	}

	.advantage__description {
		padding: 30px 50px 30px 30px;
	}



	/* ===== Стили cooperation ===== */

	.cooperation {
		padding: 30px 0;
	}

	.cooperation__item {
		margin-right: 0;
	}

	.cooperation__list {
		margin-bottom: 15px;
	}

	.cooperation__list li:first-child {
		background: url(../img/number1.svg) no-repeat 0 center / 50px;
		padding-left: 70px;
		margin-bottom: 20px;
		font-size: 14px;
		line-height: 23px;
	}

	.cooperation__list li:last-child {
		background: url(../img/number2.svg) no-repeat 0 center / 50px;
		padding-left: 70px;
		margin-bottom: 20px;
		font-size: 14px;
		line-height: 23px;
	}

	.cooperation__form {
		padding: 20px 20px 25px;
	}



	/* ===== Стили cost ===== */

	.cost__text {
		width: 100%;
	}

	.cost__btn {
		margin: 0 auto;
		display: block;
	}



	/* ===== Стили footer ===== */

	.footer__title {
		margin-bottom: 30px;
	}

	.footer__unp {
		margin-bottom: 0;
	}

	.footer__rating {
		margin-bottom: 31px;
	}

	.footer__social {
		margin-bottom: 40px;
	}

	.footer__workingHours .offices__blockInfo {
		margin-bottom: 20px;
	}

	.footer__offices {
		padding-top: 20px;
	}

	.offices__blockHeader {
		line-height: 22px;
	}

	.footer__officesDepartment {
		margin-bottom: 20px;
	}

	.footer__bottom {
		padding: 0 20px;
		text-align: center;
	}

}

/* Конец адаптивных стилей */
/* ======================================== */
